@page "/shelters"
@using Shelterprojekt.Client.Shared
@inject HttpClient Http
@using Shelterprojekt.Client.Pages
@using Shelterprojekt.Shared.Models
@using System.Diagnostics.CodeAnalysis;
@using System.Globalization;
@using System.Runtime.Serialization;

<h1>Shelters</h1>

<br />

<table class="table">
    <thead>
        <tr>
            <th>Navn</th>
            <th>Kommune</th>
            <th>Handicap</th>
            <th>Antal pr.</th>
            <th>Post nr.</th>
            <th>Vej navn</th>
            <th>Kontakt</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var shelter in ShelterList)
        {
            <tr>
                <td>
                    <button style="background:none; border:none;" onclick="@AddBooking()">@shelter.navn</button>
                </td>

                <td>@shelter.cvr_navn</td>
                <td>@shelter.handicap</td>
                <td>@shelter.antal_pl</td>
                <td>@shelter.postnr</td>
                <td>@shelter.vejnavn</td>
                <td>@shelter.kontakt_ved</td>
            </tr>
        }

    </tbody>
</table>

@if (isAdd == true)
{
    <div class="modal" tabindex="-1" style="display:block" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">@ModalTitle</h3>
                    <button type="button" class="close" @onclick="@this.CloseModal">
                        <span aria-hidden="true">x</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="dato" class="control-label">Dato</label>
                            <input type="date" for="dato" class="form-control" @bind="@booking.dato" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}




@code{

    private List<shelterInfo> shopping = new List<shelterInfo>();

    private shelterInfo[] ShelterList = Array.Empty<shelterInfo>();


    protected override async Task OnInitializedAsync()
    {
        ShelterList = await Http.GetFromJsonAsync<shelterInfo[]>("Shelter");
    }

    protected string ModalTitle { get; set; }
    protected string SearchString { get; set; }

    protected Booking booking = new() { dato = DateTime.UtcNow };


    protected Boolean isDelete = false;
    protected Boolean isAdd = false;


    protected async Task AddBooking()
    {
        this.ModalTitle = "Bookings";
        this.isAdd = true;
    }


    protected void CloseModal()
    {
        this.isAdd = false;
    }
}


