@page "/sheltersLocal"
@using Shelterprojekt.Shared.Models
@inject HttpClient Http

<h1>Shelters</h1>
<br />

<table class="table">
    <thead>
        <tr>
            <th>Navn</th>
            <th>Kommune</th>
            <th>Handicap</th>
            <th>Antal pr.</th>
            <th>Post nr.</th>
            <th>Vej navn</th>
            <th>Kontakt</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var shelter in ShelterList)
        {
            <tr>
                <td>
                    <button style="background:none; border:none;" onclick="@AddBooking()">@shelter.navn</button>
                </td>

                <td>@shelter.cvr_navn</td>
                <td>@shelter.handicap</td>
                <td>@shelter.antal_pl</td>
                <td>@shelter.postnr</td>
                <td>@shelter.vejnavn</td>
                <td>@shelter.kontakt_ved</td>
            </tr>
        }

    </tbody>
</table>


@code{

    private List<ShelterLocal> shopping = new List<ShelterLocal>();

    private ShelterLocal[] ShelterList = Array.Empty<ShelterLocal>();


    protected override async Task OnInitializedAsync()
    {
        ShelterList = await Http.GetFromJsonAsync<ShelterLocal[]>("ShelterLocal");
    }

    protected string ModalTitle { get; set; }
    protected string SearchString { get; set; }

    protected Booking booking = new() { dato = DateTime.UtcNow };


    protected Boolean isDelete = false;
    protected Boolean isAdd = false;


    protected async Task AddBooking()
    {
        this.ModalTitle = "Bookings";
        this.isAdd = true;
    }


    protected void CloseModal()
    {
        this.isAdd = false;
    }
}


